doctype html
//
  This is a starter template page. Use this page to start your new project from
  scratch. This page gets rid of all links and provides the needed markup only.
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title AdminLTE 2 | Starter
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='adminlte/css/AdminLTE.min.css')
    link(rel='stylesheet', href='adminlte/css/skins/skin-blue.min.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      header.main-header
        a.logo(href='index2.html')
          span.logo-mini
            b A
            | LT
          span.logo-lg
            b Admin
            | LTE
        nav.navbar.navbar-static-top(role='navigation')
          a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  img.user-image(src='adminlte/img/user2-160x160.jpg', alt='User Image')
                  span.hidden-xs Alexander Pierce
                ul.dropdown-menu
                  li.user-header
                    img.img-circle(src='adminlte/img/user2-160x160.jpg', alt='User Image')
                    p
                      | Alexander Pierce - Web Developer
                      small Member since Nov. 2012
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(href='#') Sign out
      aside.main-sidebar
        section.sidebar
          ul.sidebar-menu
            li.treeview
              a(href='#')
                i.fa.fa-link
                span Oda Yönetimi
                span.pull-right-container
                  i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='#') Oda Ekle
                li
                  a(href='#') Odalar
      .content-wrapper
        // Content Header (Page header)
        section.content-header
          h1
            | Page Header
            small Optional description
          ol.breadcrumb
            li
              a(href='#')
                i.fa.fa-dashboard
                |  Level
            li.active Here
        section.content
          block content
      footer.main-footer
        .pull-right.hidden-xs
          | Anything you want
        strong
          | Copyright © 2016 
          a(href='#') Company
          | .
        |  All rights reserved.
      .control-sidebar-bg
    script(src='/javascripts/bower_components/jquery/dist/jquery.min.js')
    script(src='/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='adminlte/js/app.min.js')
