doctype html
html
  head
    link(rel='stylesheet', href='/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
script(src='/socket.io/socket.io.js')
script(src='/javascripts/bower_components/jquery/dist/jquery.min.js')
script(src='/javascripts/bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='/javascripts/main.js')
